<!doctype html>
<html>
  <head>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>
  <body>
    <%= react_component("PublishContainer", { 
      tops: @tops,
      middles: @middles,
      bottoms: @bottoms,
    }) %>
  </body>
  
 </html>