<!doctype html>
<html>
  <head>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>
  <body>
    <%= react_component("PublishContainer", { greeting: "Hello" }) %>
  </body>
  
 </html>